header{
    display: flex;
   color: #666;
   
   background-color: rgb(240, 238, 238);
   text-decoration: none;
   
}

.personita{
    float: left;
}
.logo{
    display: flex;
    float: right;
}

nav{
    display: flex;
    border: 10px;
    margin: auto;
    clear: both;
}

ul > li {
    display: flex;
    float: left;
    margin-left: 20px;
    padding: 25px;
    display: inline;
}

ul > li > a {
    display: block;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: rgb(136, 130, 130);
    

}
